.row-bg{
    background-color:brown;

}
.text-main{
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3em;
    padding-top: 4em;
}

.tetx{
    font-weight: bold;
    color: #ebcc34
}
.zomato-text{
    text-decoration: none;
    font-size: 0.9em;
    color:#ebcc34;
    
}